{% extends 'base.html.twig' %}

{% block title %}Route param{% endblock %}

{% block body %}
  <h1>Salut tout le monde, je m’appelle {{ nom }}</h1>
  <h2>je suis dans la route : {{ route }}</h2>
{% endblock %}