<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}cours{% endblock %}
    </title>
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
  {% include 'menu.html.twig' %}

    {% block body %}{% endblock %}
    
    {% include 'footer.html.twig' %}
    <script src="{{asset('js/jquery.min.js')}}" ></script>
    <script src="{{asset('js/bootstrap.bundle.min.js')}}" ></script>
  </body>
</html>